.traffic-component {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vertical.traffic-component {
    flex-direction: column;
}

.horizontal.traffic-component {
    flex-direction: row;
}

.traffic-light {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical.traffic-light {
    width: 100px;
    height: 200px;
    flex-direction: column;
}

.horizontal.traffic-light {
    width: 200px;
    height: 100px;
    flex-direction: row;
}

.red {
    width: 50px;
    height: 50px;
    background-color: lightcoral;
    border: 2px solid red;
    border-radius: 30px;
}

.yellow {
    width: 50px;
    height: 50px;
    background-color: lightyellow;
    border: 2px solid yellow;
    border-radius: 30px;
}

.green {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    border: 2px solid green;
    border-radius: 30px;
}